<div class="mode-control" style="left: 36%;">
    <button class="btn btn-custom" type="button" [style.background-color]="this.wichModeSelected == 'pan' ? '#eee' : '#fff' " (click)="this.setMode('pan')">
        <span class="fa-solid fa-arrow-pointer"
        [style.color]="this.wichModeSelected == 'pan' ? '#00AFC1' : 'rgba(149, 165, 166, 1)' "></span>
    </button>
    <button class="btn btn-custom" type="button" [style.background-color]="this.wichModeSelected == 'area' ? '#eee' : '#fff' " (click)="this.setMode('area')">
        <span class="fa-solid fa-vector-square"
        [style.color]="this.wichModeSelected == 'area' ? '#00AFC1' : 'rgba(149, 165, 166, 1)' "></span>
    </button>
</div>
<div class="fill" #textEmbedding></div>