<div class="session-page">
  <div class="session-container">
    <div class="session-content">
      <div class="session-title">
        <h1 style="color: #808080">Sign up</h1>
        <div class="form-inputs">
            <div class="form-group">
                <input type="email" class="form-input" placeholder="Email Address" #userEmail required/>
            </div>
            <div class="form-group">
                <input type="password" class="form-input" placeholder="Password" #userPwd required>
            </div>
        </div>
        <div class="form-actions session-btn">
            <button type="button" class="btn" (click)="authService.SignUp(userEmail.value, userPwd.value)">
                Sign up
            </button>
        </div>
        <div class="form-actions session-btn">
            <button  type="button" class="btn-google" (click)="authService.GoogleAuth()">
                <div class="google-logo" style="margin-right: 94px;">
                    <i class="fab fa-google-plus-g"></i>
                </div>
                Sign up with Google
            </button>
        </div>
        <div style="margin-bottom: 38px; margin-top: 38px;">
          <span class="redirect-to-login" style="color: #808080">Already have an account?
            <span class="redirect" style="color: #00AFC1; cursor: pointer;" routerLink="/sign-in">Log In</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>