<p style="margin-bottom: 0px;">Cosine Similarity</p>
<mat-slider class="custom-slider"
  #similarityConfig
  thumbLabel 
  [displayWith]="formatLabel"
  tickInterval="1"
  (mousedown)="this.onDragBoxToggle()" 
  (mouseup)="this.onDragBoxToggle()" 
  id="customRange1"
  min="70" 
  max="100" 
  step="1" 
  value="80"
  (change)="updateTextInput(similarityConfig.value)">
</mat-slider>
<br>

<!--
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioControl" id="flexRadioControl1" value="link" checked [disabled]="this.linkInputDisabled" (change)="onLinkChange($event)">
  <label class="form-check-label" for="flexRadioControl1">
    Link
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="flexRadioControl" id="flexRadioControl2" value="search" (change)="onLinkChange($event)">
  <label class="form-check-label" for="flexRadioControl2">
    Search
  </label>
</div>
<div class="search-selector">
  <select class="form-select form-select-sm" [disabled]="this.searchSelectorDisabled" (change)="onSearchModeChange($event)">
    <option value="simple search" selected>Simple search</option>
    <option value="interserction">Intersection</option>
  </select>
</div>
-->