<div class="buckets-row" id="inuse-buckets-row">
    <div *ngFor="let bucket of bucketsInUse; trackBy: trackById">
        <div [ngDraggable]="true" (dragover)="allowDrop($event)" (drop)="onDrop($event, bucket.id)" class="bucket-wrapper" id="inusebucket-div-{{bucket.id}}" [attr.data-bucketid]="bucket.id">
            <div class="bucket">
                <span style="color:#97a97c;" class="fas fa-box-open fa-2xl"></span>
            </div>
            <div class="bucket-title">
                {{bucket.name}}
            </div>
        </div>
    </div>
</div>