<div class="session-page">
  <div class="session-container">
    <div class="session-content">
      <div class="session-title">
        <h1 style="color: #808080">Reset Password</h1>
        <div class="form-inputs">
            <div class="form-group">
                <input type="email" class="form-input" placeholder="Email Address" #passwordResetEmail required>
            </div>
        </div>
        <div class="form-actions session-btn">
            <button type="button" class="btn" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
                Reset Password
            </button>
        </div>
        <div style="margin-bottom: 38px; margin-top: 8px;">
          <span class="redirect-to-login" style="color: #808080">Go back to 
            <span class="redirect" style="color: #00AFC1; cursor: pointer;" routerLink="/sign-in">Log In</span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>